<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="flask demo">
    <meta name="author" content="wp">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>BarcodeFinder Web Interface</title>
    {% endif %}
    {% block style %}
        {{ bootstrap.load_css() }}
    {% endblock %}
    <style type="text/css">
        body {font-family: "微软雅黑", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" !important;}
    </style>
</head>
<body class="container bg-gray">
    <div class="header sticky-top">
        <nav class="bg-light font-weight-bolder">
            <ul class="nav nav-pills float-right h5">
                {% if request.path != "/index" %}
                <li class="nav-item">
                    <a class="nav-link active " href="/index">Back to home<span class="sr-only"></span></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/goods_list">Job list</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/jobs/{{current_user.user_id}}">My job</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/submit">Submit Job</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Logout({{current_user.username}})</a>
                    </li>
                    {% if current_user.username=='admin' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Login</a>
                    </li>
                {% endif %}
            </ul>
        <h2 class="text">@_@</h2>
        </nav>
</div>

<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% from 'bootstrap/utils.html' import render_messages %}
            {{render_messages(dismissible=True, dismiss_animate=True)}}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% block script %}
        {{ bootstrap.load_js() }}
    {% endblock %}

</div>
<hr/>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">© 2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
    <p class="footer h5 font-weight-bolder text-muted text-center"> </p>
</html>
