{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Job list</h1>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Module</th>
        <th>User</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for cmd in pagination.items %}
    <tr>
        <td>{{cmd.id}}</td>
        <td>{{cmd.title}}</td>
        <td>{{cmd.module}}</td>
        <td>{{cmd.user_id}}</td>
        <td>{{cmd.date}}</td>
        <td>
            <a href="/job/{{cmd.id}}">View</a>
            <a href="/auth/delete_job/{{cmd.id}}">Delete</a>
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
{% from 'bootstrap/pagination.html' import render_pagination %}
{{render_pagination(pagination, align='center', size='lg')}}
{% endblock %}
