{% extends "base.html" %}
{% block content %}
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-success rounded box-shadow">
        <div class="lh-100">
            <h6 class="mb-0 text-white text-center lh-100">留言板</h6>
        </div>
    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% from 'bootstrap/utils.html' import render_messages %}
        {{render_messages(dismissible=True, dismiss_animate=True)}}
        {% endif %}
        {% endwith %}
        <h6 class="border-bottom border-gray pb-2 mb-0">最新留言</h6>
        {% for p in pagination.items %}
        {% if p.secret==False %}
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-primary">@{{p.username}}
                    <span class="text-secondary">{{p.date.strftime('%Y-%m-%d %H:%M:%S')}}</span>
                </strong>
                {{p.content}}
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% from 'bootstrap/pagination.html' import render_pagination %}
    {{render_pagination(pagination, align='center')}}
    <hr/>
    {% from 'bootstrap/form.html' import render_form, render_hidden_errors %}
    {% for error in form.errors.items() %}
    <div class="invalid-feedback">{{error}}</div>
    {% endfor %}
    {{render_form(form)}}
</main>
{% endblock %}